body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-bottom: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.app h1 {
  align-self: center;
  color: #555;
}

.app h2 {
  color: #555;
}

.app p {
  color: #999;
  line-height: 1.5;
}

.app span {
  font-size: 16px;
  color: #999;
  padding: 0 20px;
}

.picture-day {
  width: 100%;
  margin: 0 auto;
}


img {
  width: 100%;
}

button {
  font-size: 24px;
  padding: 3px 10px;
  color: #555;
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background: #ccc;
  border: 1px solid #aaa;
}

button:focus {
  outline: 0;
}

.loading {
  font-size: 18px;
  color: #999;
}
